{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": "airbnb-base",
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": [],
  "rules": {
    "no-console": "off",
    "max-len": ["error", { "code": 200 }],
    "func-names": ["error", "never"],
    "consistent-return": "off",
    "no-unused-vars": "off",
    "no-underscore-dangle": [
      "error", {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}

